.content .header_wrapper, .content .header_wrapper * {
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
}

.content {
    background-color: #fff;
    width: 100%;
}

input {
    margin: 0;
    padding: 0;
    outline: none;
}

/* heading */

.content .header_wrapper {
    color: #fff;
    padding: 280px 0;
    background-image: url('img/DRIVECLUB™_20191024204336.jpg');
    background-size: cover;
    background-position: left;
    text-align: center;
    text-shadow: 2px 3px 4px rgba(0,0,0,0.3);
}

.content .header_wrapper h1 {
    text-transform: uppercase;
    font-size: 47px;
    font-weight: 300;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.content .header_wrapper h2 {
    font-size: 30px;
    font-weight: 300;
    width: 100%;
    margin: 0 auto;
}

/* heading end */

.content .main_content, .content .main_content * {
    /* border: 1px solid black; */
}

.content .main_content {
    width: 1032px;
    margin: auto;
    padding: 90px 0 0 0;
    display: flex;
    justify-content: space-between;
}

.content .main_content h3:first-child {
    font-size: 26px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 35px;
}

.content .main_content h3:nth-child(2) {
    font-size: 24px;
    font-weight: 600;
    display: inline-block;
    margin: 0;
    padding: 8px 23px;
    color: #fff;
    background-color: #FCC12A;
    margin-bottom: 35px;
}

.content .main_content .ad_content {
    width: 577px;
}

.content .main_content .ad_content .meta {
    font-size: 12px;
    color: #78797C;
    display: flex;
    margin-bottom: 35px;
}

.content .main_content .ad_content .meta > span {
    margin-right: 18px;
}

.content .main_content .ad_content .meta span:nth-child(2) {
    display: flex;
}

.content .main_content .ad_content .meta span:nth-child(2) img {
    margin-right: 4px;
    margin-top: 1px;
}

.content .main_content .ad_content .description {
    margin-bottom: 35px;
    line-height: 28px;
}

/* gallery */

.content .main_content .gallery {
    margin-bottom: 35px;
    position: relative;
}

.content .main_content .gallery, .content .main_content .gallery * {
    /* border: 1px solid black; */
}

.content .main_content .gallery .active_photo_wrapper {
    overflow: hidden;
}

.content .main_content .gallery .active_photo_wrapper .active_photo {
    display: flex;
    flex-direction: row;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    -o-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    transition-timing-function: cubic-bezier(.67,.01,.23,1);
}

.content .main_content .gallery .active_photo_wrapper img {
    width: 577px;
    height: auto;
    display: block;
}

.content .main_content .gallery .photos_selector {
    display: flex;
    flex-direction: row;
}

.content .main_content .gallery .photos_selector .selector_photo {
    position: relative;
}

.content .main_content .gallery .photos_selector .line {
    visibility: hidden;
    width: 100%;
    height: 5px;
    background-color: #FCC12A;
    position: absolute;
    bottom: 0;
}

.content .main_content .gallery .photos_selector .active .line {
    visibility: visible;
}

.content .main_content .gallery .photos_selector img {
    width: 96px;
    height: auto;
    display: block;
}

.content .main_content .gallery .prev_photo, .content .main_content .gallery .next_photo {
    position: absolute;
    width: 30px;
    height: 326px;
    background-color: rgba(0,0,0,0.4);
}

.content .main_content .gallery .prev_photo {
    top: 0;
    left: 0;
}

.content .main_content .gallery .next_photo {
    top: 0;
    right: 0;
}

/* gallery end */

.content .main_content .ad_content .options {
    font-size: 16px;
    padding-bottom: 36px;
}

.content .main_content .ad_content .options .option {
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #E5E5E5;
}

.content .main_content .ad_content .options .option .option_category {
    font-weight: 500;
}

.content .main_content .ad_content .options .option .option_items {
    width: 60%;
}

.content .main_content .ad_content .options .option .option_items .option_item {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
}

.content .main_content .ad_content .options .option .option_items .option_item:last-child {
    margin-bottom: 0;
}

.content .main_content .ad_content .options .option .option_items .option_item img {
    width: 13px;
    height: auto;
    margin-right: 13px;
}

.main_content .other_info * {
    /* border: 1px solid black; */
}

.main_content .other_info {
    width: 370px;
    font-size: 16px;
}

.main_content .other_info .car_info {
    font-weight: 500;
    color: #828282;
    display: flex;
    flex-direction: column;
    padding: 40px 45px;
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.15);
    margin-bottom: 40px;
}

.main_content .other_info .car_info > div {
    display: flex;
    flex-direction: column;
}

.main_content .other_info .car_info > div div {
    display: flex;
    flex-direction: row;
}

.main_content .other_info .car_info img {
    width: 20px;
    height: 20px;
}

.main_content .other_info .car_info > div > span {
    margin-bottom: 10px;
}

.main_content .other_info .car_info > div > span:nth-child(3) {
    margin-bottom: 35px;
}

.main_content .other_info .car_info > div > div {
    margin-bottom: 20px;
}

.main_content .other_info .car_info > div > div:last-child {
    margin-bottom: 0;
}

.main_content .other_info .car_info > div:first-child {
    padding-bottom: 41px;
}

.main_content .other_info .car_info > div:nth-child(2) {
    margin-bottom: 41px;
    padding-top: 41px;
    color: #FCC12A;
    border-top: 1px solid #E5E5E5;
}

.main_content .other_info .car_info > div > div img {
    margin-right: 20px;
}

.main_content .other_info .car_info > span:nth-child(3) {
    margin-bottom: 20px;
}

.main_content .other_info .owner_info * {
    /* border: 1px solid black; */
    margin: 0;
}

.main_content .other_info .owner_info {
    width: 370px;
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.15);
    padding-top: 40px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.main_content .other_info .owner_info h4 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 27px;
}

.main_content .other_info .owner_info img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 30px;
}

.main_content .other_info .owner_info span {
    font-size: 16px;
    font-weight: 400;
    color: #818181;
    margin-bottom: 15px;
}

.main_content .other_info .owner_info span:nth-child(4) {
    margin-bottom: 0;
}

.main_content .other_info .owner_info span:last-child {
    margin-bottom: 0;
}

.main_content .other_info .owner_info button {
    margin-top: 30px;
    padding-top: 15px;
    padding-bottom: 14px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    width: 200px;
    color: #fff;
    background-color: #FCC12A;
    border: none;
}