html, body {
    height: 100%;
}

.navbar {
    height: 80px;
    background-color: rgb(73, 71, 71);
}

.content, .content * {
    /* border: 1px solid black; */
}

.content {
    height: 100%;
    padding-top: 80px;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.2);
    display: flex;
    flex-direction: row;
}

.content .leftside_menu {
    width: 30%;
    background-color: #F6F6F6;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 3%;
    padding-bottom: 3%;
    box-sizing: border-box;
}

.content .main_content {
    width: 70%;
    background-color: #fff;
}

.content > div > div {
    display: flex;
    flex-direction: column;
}

.content > div > div a {
    cursor: pointer;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    color: #828282;
    padding-left: 10%;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-bottom: 13px;
    transition: .25s;
}

.content > div > div a:last-child {
    margin-bottom: 0;
}

.content > div > div a.active {
    color: #FCC12A;
    background-color: rgba(252, 193, 42, 0.12);
    border-left: 4px solid #FCC12A;
    padding-left: calc(10% - 4px);
}

.content > div > div #exit {
    color: #FCC12A;
}

.content > div > div a:hover {
    color: #FCC12A;
    background-color: rgba(252, 193, 42, 0.12);
    padding-left: 11%;
    transition: .25s;
}