html {
    /* overflow-x: hidden; */
    /* overflow-y: auto;
    margin-right: calc(-1 * (100vw - 100%)); */
    /* margin-left: 60px; */
}

.content {
    background-color: #F6F6F6;
}

.content, .content * {
    /* border: 1px solid black; */
}

input {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

h1, h2, h4, p {
    margin: 0;
    padding: 0;
}

.navbar {
    height: 80px;
    background-color: rgb(73, 71, 71);
}

.main_content {
    width: 1032px;
    margin: 0 auto;
    padding-top: 140px;
}

.main_content h1, .main_content p {
    margin: 0;
    padding: 0;
    width: 100%;
}

.main_content h1 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 25;
    margin-bottom: 30px;
}

.main_content p {
    margin-bottom: 60px;
    color: #78797C;
    font-size: 20px;
}

/* стили для объявлений */

.main_content .ads {
    width: 681px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.main_content .ads .ad {
    box-sizing: border-box;
    width: 330px;
    background-color: #fff;
    color: #78797C;
    margin-top: 30px;
}

.main_content .ads .ad:first-child, .main_content .ads .ad:nth-child(2) {
    margin-top: 0;
}

.main_content .ads .ad .car_main_photo {
    height: 211px;
    position: relative;
}

.main_content .ads .ad .car_main_photo img {
    outline: none;
    position: absolute;
    top: 0;
    height: 211px;
    width: 100%;
    display: block;
    object-fit: cover;
}

.main_content .ads .ad .car_main_photo .bg_img {
    z-index: 0;
}

.main_content .ads .ad .car_main_photo .large_img {
    z-index: 1;
}

.main_content .ads .ad .car_info {
    display: flex;
    flex-direction: column;
    padding: 30px 25px 25px 25px;
}

.main_content .ads .ad .car_info > div {
    display: flex;
    flex-direction: row;
    margin-bottom: 17px;
    /* align-items: center; */
}

.main_content .ads .ad .car_info > div:last-child {
    margin-bottom: 0;
}

.main_content .ads .ad .car_info h4 {
    margin: 0;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    color: #000;
    margin-bottom: 6px;
}

.main_content .ads .ad .car_info h4 a {
    color: #000;
    cursor: pointer;
    transition: color 0.3s;
}

.main_content .ads .ad .car_info h4 a:hover {
    color: #FCC12A;
    transition: color 0.2s;
}

.main_content .ads .ad .car_info h4:nth-child(2) {
    color: #FCC12A;
    margin-bottom: 17px;
}

.main_content .ads .ad .car_info img{
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.main_content .ads .ad .car_info > span {
    margin-bottom: 6px;
}

.main_content .ads .ad .car_info > span:nth-child(5) {
    margin-bottom: 17px;
}

.main_content .ads_section .all_interesting_ads_button {
    width: 142px;
    margin: 60px auto 0 auto;
}

.main_content .search_parameters {
    width: 330px;
    box-sizing: border-box;
}

.main_content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.main_content .search_parameters form * {
    /* border: 1px solid black; */
}

.main_content .search_parameters form div:last-child div:last-child, .main_content .search_parameters form div:last-child div:last-child * {
    /* border: 1px solid black; */
}

.main_content .all_search_parameters_wrapper {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;

    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;

    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);

    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.all_search_parameters * {
    /* border: 1px solid black; */
}

.main_content .all_search_parameters_wrapper .all_search_parameters {
    background-color: #fff;
    width: 65%;
    height: 80%;
    box-sizing: border-box;
}

.main_content .all_search_parameters_wrapper .all_search_parameters form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
}

.main_content .all_search_parameters_wrapper .all_search_parameters form .controls {
    padding: 30px 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main_content .all_search_parameters_wrapper .all_search_parameters form .controls .drop_parameters {
    color: #FCC12A;
    font-size: 16px;
    cursor: pointer;
    margin-left: 50px;
}

.modal_open {
    overflow-y: hidden;
    touch-action: none;
    -ms-touch-action: none;
}

.main_content .all_search_parameters_wrapper .all_search_parameters .all_parameters_form {
    height: 100%;
    padding: 0 35px;
    -webkit-overflow-scrolling: touch;

    overflow: auto;

    border-top: 1px solid rgb(230, 230, 230);
    border-bottom: 1px solid rgb(230, 230, 230);
}

.main_content .all_search_parameters_wrapper .all_search_parameters .all_parameters_form .parameters_section:first-child {
    margin-top: 50px;
}

.main_content .all_search_parameters_wrapper .all_search_parameters .all_parameters_form .parameters_section:last-child {
    margin-bottom: 10px;
}

.main_content .all_search_parameters_wrapper .all_search_parameters .all_parameters_form::-webkit-scrollbar { width: 0; }

.main_content .all_search_parameters_wrapper .all_search_parameters .all_parameters_heading {
    padding: 20px 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main_content .all_search_parameters_wrapper .all_search_parameters .all_parameters_heading * {
    /* border: 1px solid black; */
}

.main_content .all_search_parameters_wrapper .all_search_parameters .all_parameters_heading .close {
    position: relative;
    width: 18px;
    height: 18px;
    opacity: 0.5;
    cursor: pointer;
}

.main_content .all_search_parameters_wrapper .all_search_parameters .all_parameters_heading .close:hover {
    opacity: 1;
}

.main_content .all_search_parameters_wrapper .all_search_parameters .all_parameters_heading .close:before, .main_content .all_search_parameters_wrapper .all_search_parameters .all_parameters_heading .close:after {
    position: absolute;
    left: 9px;
    top: -3px;
    content: ' ';
    height: 23px;
    width: 2px;
    background-color: #78797C;
}

.main_content .all_search_parameters_wrapper .all_search_parameters .all_parameters_heading .close:before {
    transform: rotate(45deg);
}

.main_content .all_search_parameters_wrapper .all_search_parameters .all_parameters_heading .close:after {
    transform: rotate(-45deg);
}

.main_content .all_search_parameters_wrapper .all_search_parameters h4 {
    font-size: 20px;
    font-weight: 500;
}

.main_content .all_search_parameters_wrapper .all_search_parameters .all_parameters_form .parameters_section h5 {
    font-size: 18px;
    font-weight: 400;
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
}

.main_content .all_search_parameters_wrapper_active {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
    visibility: visible;
}

.main_content .search_parameters form {
    background-color: #fff;
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.1);
}

.main_parameters, .additional_parameters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    color: #78797C;
}

.main_parameters {
    margin-bottom: 10px;
}

.search_parameters form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: #78797C;
    border: none;
    padding: 51px 35px 35px 35px;
}

.search_parameters form h4 {
    color: #000;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 55px;
}

.search_parameter {
    box-sizing: border-box;
    margin-bottom: 28px;
    border-bottom: 1px solid #CFCFCF;
}

.search_parameter:nth-child(4) {
    margin-bottom: 56px;
}

.search_parameter img {
    width: 14px;
    height: 7px;
    transform: rotate(0deg);
    transition: all ease-in-out 0.2s;
}

.search_parameter {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
    background-color: #fff;
    position: relative;
}

.main_content .all_search_parameters_wrapper .all_search_parameters .all_parameters_form .parameters_section .search_parameter {
    width: 260px;
}

.search_parameter input {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: 16px;
    padding: 15px 0;
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
}

.search_parameter input:focus + span {
    color: #fff;
}

.search_parameter input:focus ~ img {
    transform: rotate(180deg);
    transition: all ease-in-out 0.2s;
}

.twin_input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.twin_input .search_parameter {
    width: 112px;
}

.main_content .all_search_parameters_wrapper .all_search_parameters .all_parameters_form .parameters_section .twin_input {
    width: 260px;
}

.main_content .all_search_parameters_wrapper .all_search_parameters .all_parameters_form .parameters_section .twin_input .search_parameter {
    width: 112px;
}

.main_content .all_search_parameters_wrapper .all_search_parameters .all_parameters_form .search_parameter {
    margin-bottom: 40px;
}

.search_parameters form .all_parameters {
    font-size: 16px;
    font-weight: 400;
    color: #FCC12A;
    display: block;
    margin-top: 17px;
    margin-bottom: 45px;
    cursor: pointer;
}

.search_parameters form input[type="submit"], .controls input[type="submit"] {
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 13px;
    background-color: #FCC12A;
    cursor: pointer;
    -webkit-appearance: none;
}

.controls input[type="submit"] {
    width: 260px;
}

.slider_container, .slider_container * {
    /* border: 1px solid black; */
}

.slider_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin-bottom: 28px;
}

.slider_container .slider {
    width: 100%;
    height: 4px;
    background-color: #CFCFCF;
    position: relative;
    z-index: 1;
    margin-bottom: 52px;
}

.slider_container .slider span {
    position: absolute;
    top: -4px;
    width: 12px;
    height: 12px;
    background-color: #FCC12A;
    border-radius: 50%;
    z-index: 3;
}

.slider_container > div:last-child {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.slider_container div:last-child input:first-child {
    text-align: right;
}

.slider_container div:last-child input {
    width: 58px;
    font-size: 16px;
}

.slider_container > div:last-child > div:last-child {
    width: 136px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.slider_container .slider .ui-slider-range {
    height: 4px;
    background-color: #FCC12A;
    position: absolute;
}

.slider_container .slider .ui-slider-handle {
    margin-left: -6px;
}

.slider_container .slider .ui-slider-handle:focus {
    outline: none;
}

.main_content .all_parameters_button_mob, .main_content .all_parameters_button_mob * {
    /* border: 1px solid black; */
}

.main_content .all_parameters_button_mob {
    width: 681px;
    display: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    background-color: #fff;
    color: #78797C;
    font-size: 18px;
    font-weight: 400;
    padding: 18px 20px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
}

.main_content .all_parameters_button_mob img {
    height: 22px;
}

@media screen and (max-width: 1260px) {

    .content .main_content {
        width: 94%;
        margin: 0 auto;
    }

    .main_content .search_parameters {
        display: none;
    }

    .main_content .all_parameters_button_mob {
        display: flex;
    }

    .main_content h1, .main_content p {
        text-align: center;
    }

    .main_content .ads {
        margin-left: auto;
        margin-right: auto;
    }

    .all_search_parameters_wrapper {
        width: 100%;
        height: 100%;
    }

    .main_content .all_search_parameters_wrapper .all_search_parameters {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 730px) {

    .main_content {
        flex-direction: column;
    }

    .main_content .ads {
        width: 330px;
    }

    .main_content .all_parameters_button_mob {
        width: 330px;
    }

    .main_content .ads .ad:nth-child(2) {
        margin-top: 30px;
    }
}

@media screen and (max-width: 495px) {
    .main_parameters, .additional_parameters {
        flex-direction: column;
    }

    .main_content .all_search_parameters_wrapper .all_search_parameters .all_parameters_form .parameters_section .search_parameter, .main_content .all_search_parameters_wrapper .all_search_parameters .all_parameters_form .parameters_section .twin_input {
        width: 100%;
    }

    .main_content .all_search_parameters_wrapper .all_search_parameters .all_parameters_form .parameters_section .twin_input .search_parameter {
        width: 40%;
    }

    .main_content .all_search_parameters_wrapper .all_search_parameters form .controls {
        flex-direction: column-reverse;
        padding: 20px 35px;
    }

    .main_content .all_search_parameters_wrapper .all_search_parameters form .controls .drop_parameters {
        margin: 0;
        margin-bottom: 20px;
    }

    .controls input[type="submit"] {
        width: 100%;
        height: 45px;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        outline: none;
        border: none;
        border-radius: 0;
    }
}