.content {
    background-color: #F6F6F6;
}

.content, .content * {
    /* border: 1px solid black; */
}

.navbar {
    height: 80px;
    background-color: rgb(73, 71, 71);
}

.main_content {
    width: 1032px;
    margin: 0 auto;
    padding-top: 140px;
}

.main_content h1, .main_content p {
    margin: 0;
    padding: 0;
}

.main_content h1 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 25;
    margin-bottom: 30px;
}

.main_content p {
    margin-bottom: 60px;
    color: #78797C;
    font-size: 20px;
}

/* стили для объявлений */

.main_content .ads {
    width: 681px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.main_content .ads .ad {
    box-sizing: border-box;
    width: 330px;
    background-color: #fff;
    color: #78797C;
    margin-top: 30px;
}

.main_content .ads .ad:first-child, .main_content .ads .ad:nth-child(2) {
    margin-top: 0;
}

.main_content .ads .ad .car_main_photo img {
    height: 211px;
    width: 100%;
    display: block;
    object-fit: cover;
}

.main_content .ads .ad .car_info {
    display: flex;
    flex-direction: column;
    padding: 30px 25px 25px 25px;
}

.main_content .ads .ad .car_info > div {
    display: flex;
    flex-direction: row;
    margin-bottom: 17px;
    /* align-items: center; */
}

.main_content .ads .ad .car_info > div:last-child {
    margin-bottom: 0;
}

.main_content .ads .ad .car_info h4 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    color: #000;
    margin-bottom: 6px;
}

.main_content .ads .ad .car_info h4 a {
    color: #000;
    cursor: pointer;
    transition: color linear 0.2s;
}

.main_content .ads .ad .car_info h4 a:hover {
    color: #FCC12A;
    transition: color linear 0.2s;
}

.main_content .ads .ad .car_info h4:nth-child(2) {
    color: #FCC12A;
    margin-bottom: 17px;
}

.main_content .ads .ad .car_info img{
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.main_content .ads .ad .car_info > span {
    margin-bottom: 6px;
}

.main_content .ads .ad .car_info > span:nth-child(5) {
    margin-bottom: 17px;
}

.main_content .ads_section .all_interesting_ads_button {
    width: 142px;
    margin: 60px auto 0 auto;
}