html, body {
    padding: 0;
    margin: 0;
    width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
}

.content {
    margin: 0;
    /* height: 1000px; */
    background-color: rgb(230, 230, 230);
}

/* preloader */

.preloader.loaded {
    opacity: 0;
    visibility: hidden;
}

.preloader, .preloader * {
    /* border: 1px solid black; */
}

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s all linear;
}

.preloader div {
    justify-content: center;
    align-items: center;
}

.preloader .spinner {
    height: 36px;
	width: 36px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 3px solid #FCC12A;
    border-top-color: #fff;
    border-right-color: #fff;
	animation: spinner .88s linear infinite;
}

.preloader div span {
    position: relative;
    right: -7px;
    color: #818181;
}

@keyframes spinner {
	to {
		transform: rotate(360deg);
	}
}

/* preloader end */

/* background for sidebar */

.bg {
    display: none;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 490;
}

/* background for sidebar end */

/* navbar */

.navbar, .navbar * {
    /* border: 1px solid black; */
}

.navbar {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 110px;
    background-color: rgba(73, 71, 71, 0.4);
    font-weight: 300;
    text-transform: uppercase;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.25s;
    padding: 0 24px;
    z-index: 498;
}

.sticky_navbar {
    height: 80px;
    background-color: rgb(73, 71, 71);
}

li {
    list-style-type: none;
}

.navbar img {
    width: 103px;
    height: 32px;
}

.navbar > ul {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 80px;
}

.navbar ul .selection {
    height: 80px;
    align-items: center;
}

.navbar > ul > li {
    margin-left: 47px;
    display: flex;
}

.navbar .profile_select {
    text-transform: none;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: #fff;
}

.navbar > ul > li img {
    width: 11px;
    height: 5px;
    margin-left: 10px;
}

.navbar ul .sell_button{
    border: 1px solid rgba(255,255,255, 0.5);
    padding: 10px 29px;
    margin-left: 47px;
}

.navbar .profile_select img {
    margin: -1px 0 0 0;
}

.navbar .navbar_avatar {
    width: 46px;
    height: 46px;
    background-color: #fff;
    margin-right: 11px;
    margin-left: 11px;
    border-radius: 23px;
}

.submenu {
    font-weight: 400;
    position: absolute;
    
    text-transform: none;
    
    color: #828282;
    top: 80px;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    width: 240px;
    display: flex;
    flex-direction: column;
    line-height: 1.6em;

    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;

    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px);

    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.submenu li {
    width: 190px;
    padding: 17px 0;
    border-bottom: 1px solid rgb(227, 227, 227);
}

.submenu li:first-child {
    margin-top: 13px;
}

.submenu li:last-child {
    border-bottom: none;
    margin-bottom: 13px;
}

.navbar .selection:hover .submenu {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
    visibility: visible;
}

/* navbar end*/

/* navbar for mobile */

.navbar .menu_toggle {
    display: none;
    -webkit-user-select: none;
    user-select: none;
}

.navbar .menu_toggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 495;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
}

.navbar .menu_toggle span:nth-child(3) {
    transform-origin: 0% 100%;
    margin: 0;
}

.navbar .menu_toggle span:first-child
{
  transform-origin: 0% 0%;
}

.navbar .menu_toggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

.sidebar_nav, .sidebar_nav * {
    /* border: 1px solid black; */
}

.sidebar_nav {
    display: none;
    margin: 0;
    padding: 0;
    width: 270px;
    /* height: 100%; */
    background-color: #fff;
    position: fixed;
    top: 80px;
    left: 0;
    bottom: 0;
    font-weight: 500;
    z-index: 496;
    -webkit-font-smoothing: antialiased;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    /* to stop flickering of text in safari */
    
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

.navbar .menu_toggle .sidebar_nav {
    cursor: pointer;
}

.sidebar_nav > ul {
    margin: 0;
    padding: 0;
    background-color: #fff;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
}

.sidebar_nav li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 24px;
}

.sidebar_nav ul .menu_item {
    transition: all ease-in-out 0.2s;
}

.sidebar_nav li:first-child {
    margin-top: 20px;
}

.sidebar_nav li:last-child {
    margin-bottom: 20px;
}

.sidebar_nav li img {
    width: 10px;
}

.sidebar_nav_active .menu_toggle span {
    opacity: 1;
    transform: rotate(45deg) translate(0, -3px);
}

.sidebar_nav_active .menu_toggle span:nth-child(2) {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.2, 0.2);
    transform: rotate(0deg) scale(0.2, 0.2);
}

.sidebar_nav_active .menu_toggle span:nth-child(3) {
    transform: rotate(-45deg) translate(0, 3px);
}

.sidebar_nav_active + .sidebar_nav {
    transform: none;
}

.sidebar_nav_active ~ .bg {
    visibility: visible;
    opacity: 1;
}

.sidebar_nav .account_menu * {
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
}

.sidebar_nav .account_menu {
    color: #fff;
    /* height: 0; */
    /* overflow: hidden; */
}

.sidebar_nav .account_menu .account_info {
    background-color: #FCC12A;
    padding: 20px 24px;
}

.sidebar_nav .account_menu .account_info div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar_nav .account_menu .account_info > div {
    padding-top: 20px;
    /* border: 1px solid black; */
}

.sidebar_nav .account_menu .account_info > img {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    display: block;
}

.sidebar_nav .account_menu .account_info div div {
    flex-direction: column;
    align-items: flex-start;
}

.sidebar_nav .account_menu .account_info div div img {
    width: 12px;
}

.sidebar_nav .account_menu .account_info div div p {
    max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar_nav .account_menu .account_info div div p:first-child {
    font-weight: 500;
}

.sidebar_nav .account_menu .account_info div div p:last-child {
    font-weight: 300;
    margin-top: 6px;
}

.sidebar_nav .account_menu .account_menu_items {
    padding-top: 0;
    font-weight: 500;
    background-color: #fff;
    color: #000;
    text-transform: uppercase;
    max-height: 0;
    overflow: hidden;
    transition: all ease-in-out 0.2s;
}

.sidebar_nav .account_menu .account_info div img {
    transform: rotate(0deg);
    transition: transform ease-in-out 0.2s;
}

.sidebar_nav .account_menu_open .account_info div img {
    transform: rotate(180deg);
    transition: transform ease-in-out 0.2s;
}

.sidebar_nav .account_menu_open .account_menu_items {
    max-height: 434px;
}

.sidebar_nav .account_menu .account_menu_items ul li {
    padding: 15px 48px;
    margin-bottom: 6px;
}

.sidebar_nav .account_menu .account_menu_items ul li:first-child {
    margin-top: 20px;
}

.sidebar_nav .account_menu .account_menu_items ul > a {
    display: flex;
    justify-content: center;
    margin: 20px 24px 0 24px;
    padding: 15px 0px;
    text-align: center;
    font-weight: 400;
    background-color: #FCC12A;
    color: #fff;
}

.sidebar_nav .account_menu .account_menu_items ul li:last-child {
    margin: 0;
    padding: 0;
    height: 20px;
    border-bottom: 1px solid rgb(227, 227, 227);
}

.sidebar_nav .sidebar_submenu ul, .sidebar_nav .sidebar_submenu ul li {
    padding: 0;
    margin: 0;
}

.sidebar_nav .sidebar_submenu {
    text-transform: none;
    font-size: 14px;
    font-weight: 400;
    max-height: 0;
    overflow: hidden;
    transition: max-height ease-in-out 0.2s;
}

.sidebar_nav .sidebar_submenu ul li {
    padding: 10px 48px;
    margin-bottom: 5px;
    cursor: pointer;
}

.sidebar_nav .sidebar_submenu ul #two_lines_item {
    line-height: 1.5em;
}

.sidebar_nav .sidebar_submenu ul li:first-child {
    margin-top: 10px;
}

.sidebar_nav .sidebar_submenu ul li:last-child {
    margin-bottom: 15px;
}

.sidebar_nav ul li .arrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.sidebar_nav ul li .arrow img {
    transform: rotate(0deg);
    transition: all ease-in-out 0.2s;
}

.sidebar_nav ul li .arrow img:first-child {
    position: relative;
    opacity: 1;
    transform: translate(100%, 0);
    transition: opacity ease-in-out 0.2s;
}

.sidebar_nav ul .submenu_open {
    background-color: #FCC12A;
    color: #fff;
    transition: all ease-in-out 0.2s;
}

.sidebar_nav ul .submenu_open:nth-child(1) + .sidebar_submenu, .sidebar_nav ul .submenu_open:nth-child(3) + .sidebar_submenu {
    max-height: 143px;
}

.sidebar_nav ul .submenu_open:nth-child(5) + .sidebar_submenu {
    max-height: 251px;
}

.sidebar_nav ul .submenu_open .arrow img {
    transform: rotate(180deg);
    transition: all ease-in-out 0.2s;
}

.sidebar_nav ul .submenu_open .arrow img:first-child {
    opacity: 0;
}

/* navbar for mobile end*/


/* footer */

.footer * { 
    /* border: 1px solid black; */
}

.footer {
    background-color: rgb(73, 71, 71);
    color: rgb(182, 181, 181);
    display: flex;
    justify-content: center;
}

.footer .container {
    width: 1032px;
}

.footer .container .footer_links {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 90px 0;
}

.footer div a:first-child {
    font-size: 22px;
    color: #fff;
    margin-bottom: 30px;
}

.footer div a {
    margin-bottom: 18px;
}

.footer div a:last-child {
    margin-bottom: 0;
}

.footer div {
    display: flex;
    flex-direction: column;
}

.footer .copyright {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 120px;
}

.footer .copyright img {
    width: 153px;
    height: 48px;
}

.footer .copyright span {
    margin-left: 199px;
}

/* footer end*/

@media screen and (max-width: 1032px) {
    
    .navbar * {
        /* border: 1px solid black; */
    }

    .bg {
        display: block;
    }

    .navbar {
        height: 80px;
        background-color: rgb(73, 71, 71);
        justify-content: flex-start;
    }

    .navbar > ul {
        display: none;
    }

    .navbar .menu_toggle {
        display: block;
        margin-right: 30px;
    }

    .sidebar_nav {
        display: block;
    }

    .footer * {
        /* border: 1px solid black; */
    }

    .footer, .footer .container {
        width: 100%;
    }

    .footer .container .footer_links{
        flex-direction: column;
        align-items: center;
        margin: 40px 0 0 0;
    }

    .footer .container .footer_links div {
        width: 80%;
        margin-bottom: 40px;
    }

    .footer .container .footer_links div:last-child {
        margin-bottom: 70px;
    }

    .footer .copyright {
        flex-direction: column;
        margin: 0;
    }

    .footer .copyright span {
        margin: 0;
        margin: 40px 0 70px 0;
    }
}