html, body {
    padding: 0;
    margin: 0;
    width: 100%;

}

body {
    font-family: 'Roboto', sans-serif;
}

.content {
    height: 1000px;
    background-color: rgb(230, 230, 230);
}

/* navbar */

.navbar, .navbar * {
    /* border: 1px solid black; */
}

.navbar {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 110px;
    background-color: rgba(73, 71, 71, 0.4);
    font-weight: 300;
    text-transform: uppercase;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.25s;
    padding: 0 24px;
}

.sticky_navbar {
    height: 80px;
    background-color: rgb(73, 71, 71);
}

li {
    list-style-type: none;
}

.navbar img {
    width: 103px;
    height: 32px;
}

.navbar > ul {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 80px;
}

.navbar ul .selection {
    height: 80px;
    align-items: center;
}

.navbar > ul > li {
    margin-left: 47px;
    display: flex;
}

.navbar .profile_select {
    text-transform: none;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: #fff;
}

.navbar li img {
    width: 14px;
    height: 7px;
    margin-left: 10px;
    margin-top: -2px;
}

.navbar ul .sell_button{
    border: 1px solid rgba(255,255,255, 0.5);
    padding: 10px 29px;
    margin-left: 47px;
}

.navbar .profile_select img {
    margin: -1px 0 0 0;
}

.navbar .navbar_avatar {
    width: 46px;
    height: 46px;
    background-color: #fff;
    margin-right: 11px;
    margin-left: 11px;
    border-radius: 23px;
}

.submenu {
    font-weight: 400;
    position: absolute;
    
    text-transform: none;
    
    color: #828282;
    top: 80px;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    width: 240px;
    display: flex;
    flex-direction: column;
    z-index: 499;
    line-height: 1.6em;

    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;

    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px);

    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.submenu li {
    width: 190px;
    padding: 17px 0;
    border-bottom: 1px solid rgb(227, 227, 227);
}

.submenu li:first-child {
    margin-top: 13px;
}

.submenu li:last-child {
    border-bottom: none;
    margin-bottom: 13px;
}

.navbar .selection:hover .submenu {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
    visibility: visible;
}

/* navbar end*/

/* navbar for mobile */

.navbar .menu_toggle {
    display: none;

}

/* navbar for mobile end*/


/* footer */

.footer * {
    /* border: 1px solid black; */
}

.footer {
    background-color: rgb(73, 71, 71);
    color: rgb(182, 181, 181);
    display: flex;
    justify-content: center;
}

.footer .container {
    width: 1032px;
}

.footer .container .footer_links {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 90px 0;
}

.footer div a:first-child {
    font-size: 22px;
    color: #fff;
    margin-bottom: 30px;
}

.footer div a {
    margin-bottom: 18px;
}

.footer div a:last-child {
    margin-bottom: 0;
}

.footer div {
    display: flex;
    flex-direction: column;
}

.footer .copyright {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 120px;
}

.footer .copyright img {
    width: 153px;
    height: 48px;
}

.footer .copyright span {
    margin-left: 199px;
}

/* footer end*/

@media screen and (max-width: 1032px) {
    
    .navbar * {
        border: 1px solid black;
    }

    .navbar {
        height: 80px;
        background-color: rgb(73, 71, 71);
    }

    .navbar ul {
        display: none;
    }

    .navbar .menu_toggle {
        display: block;
    }

    .footer * {
        /* border: 1px solid black; */
    }

    .footer, .footer .container {
        width: 100%;
    }

    .footer .container .footer_links{
        flex-direction: column;
        align-items: center;
        margin: 40px 0 0 0;
    }

    .footer .container .footer_links div {
        width: 80%;
        margin-bottom: 40px;
    }

    .footer .container .footer_links div:last-child {
        margin-bottom: 70px;
    }

    .footer .copyright {
        flex-direction: column;
        margin: 0;
    }

    .footer .copyright span {
        margin: 0;
        margin: 40px 0 70px 0;
    }
}